<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>


<div class = cards>
  <% @lists.each do |list| %>
    <div class = card>
      <%= link_to list.name, list_path(list), class: "card-link" %>
      <%= link_to "Delete ", list_path(list),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "card-link" %>
    </div>
  <% end %>
</div>

<%= cl_image_tag("dn15mlamvanvx4flfbgb",
      width: 400, height: 300, crop: :fill) %>
