
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #dd6a1e;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: #dd6a1e;
  color: white;
}

.btn-purple {
  margin-top: 20px;
  color: #f3f3f3;
  padding: 8px 24px;
  border-radius: 4px;
  background: #430D22;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
  width: 100%;
  opacity: .8;
}

.btn-pink:hover {
  background: #DEA957;
  color: white;
  opacity: 1;
}

.btn-flat-purple {
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
  background: #430D22;
  transition: background 0.3s ease;
  text-decoration: none;
}
