.container-form-ext{
  margin: 3em 0;
  height: 45vh;
}
.container-form-int{
  color: rgb(245, 243, 243);
  font-size: 18px;
  font-style: bold;
  margin-top: 2em;
  background-color: #863848;
  padding: 1em 1em;
}
.container-superior{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
