.container-form-ext{
  margin: 1em 0;
  height: 45vh;
}
.container-form-int{
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #ecd162;
  padding: 1em 2em;
}
.container-superior{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
