.form-list{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 25vh;
}
.form-photo-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.form-select-movie{
  height: 2em;
}

span.select2-selection.select2-selection--single{
  color: #0E0000;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
  height: 2em;
}

