.navbar-lewagon {
  justify-content: space-between;
  transition: 0.5s background-color ease;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #430d22;
  }
.nav-link{
  color: antiquewhite;
}
.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0);
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media only screen and (max-width: 576px) {
  .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 35%;
    position: absolute;
    right: 0px;
    top: 60px;
    text-align: center;
  }
  .nav-item{
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.navbar-light .navbar-nav .nav-link {
  color: antiquewhite;
}
